
.bgcolor .block1 {
    color:black;
    font-size: 15px;
    margin-top: 50px;
    margin-left: 15px;
}

.h12 {
margin-left: 200px;
color: #515251;
}

.text1 {
	width: 700px;
	padding-top: 20px;
	color: #757575;
	line-height: 1.6em;
	margin-left: 200px;
}

#video {
	height: 140px;
	width: 180px;
	margin-top: 150px;
	margin-left: 215px;

}

.h41 {
	width: 200px;
	margin-left: 400px;
	margin-top: -140px;
	color: #363636;
}

.block1 p {
	width: 180px;
	height: 150px;
	margin-left: 400px;
	color: 757575;
	font-size: 14px;
}

.botton1 {
	background: #2D343E ;
	color: white;
	height: 38px;
	width: 180px;
	margin-left: 730px;
	margin-top: -140px;
	border-radius: 5px;
}

.botton2 {
	background: #32CD8F;
	color: white;
	height: 38px;
	width: 180px;
	margin-left: 730px;
	margin-top: 15px;
	border-radius: 5px;
}