body {
	font-family: 'Lato', sans-serif;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	margin-left: 200px;
	
}

.img1 {
	width: 1200px;
  height: 758px;
  margin: auto;
  }

.logo {
	font-size: 130px;
	color: white;
	letter-spacing: 50px;
	font-weight: 600;
  width: 40%;
  height: 40%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.menu {
  position: relative;
  bottom: 720px;
  left: 789px;
  color: white;
  font-size: 22px;
}

th {
	font-weight: 400;
	border-spacing: 0 20px;
}

.2 {
	height: 200px;
	max-width: 1200px;
	background: white;
}

 .text1 {
 	position: relative;
  font-size: 29px;
  top: 42px;
  left: 730px;
  color: #3D3D3D;
  overflow:  hidden; 
}

.text2 {
  text-align: center;
  position: relative;
  width: 700px;
  left: 450px;
  font-size: 22px;
  font-weight: 100;
  top: 46px;
  color: #5C5C5C;
}

.block3 {
	background: #F0F0F0;
  margin-top: 196px;
  max-width: 1200px;
  height: 1425px;
  margin-left: 200px;
}

.werk {
  position: relative;
  font-size: 27px;
  text-align: center;
  top: 138px;
  color: #3D3D3D;
  letter-spacing: 6px;
}

.text3 {
  position: relative;
  top: 147px;
  left: 390px;
  font-size: 22px;
  color: #5C5C5C;
}

.stroke {
	position: relative;
 	top: 36px;
  left: 767px;

}

.stroke1 {
	position: relative;
	top: 128px;
  left: 568px;
  }

.art1 {
  position: relative;
  top: 252px;
  left: 214px;
}

.art2 {
	position: relative;
	top: 114px;
  left: 215px;	
}

.art3 {
	position: relative;
	top: -21px;
  left: 215px;
}

.essa {
  font-size: 33px;
  color: white;
  font-weight: 300;
  top: 153px;
  left: 246px;
  position: relative;
}

.design {
  font-size: 34px;
  color: white;
  font-weight: 300;
  top: 81px;
  left: 344px;
  font-weight: 600;
  position: relative;
}

.tab {
	font-size: 33px;
  color: white;
  font-weight: 300;
  top: 15px;
  left: 247px;
  position: relative;
}

.bud {
  font-size: 33px;
  color: white;
  font-weight: 300;
  top: -56px;
  left: 440px;
  font-weight: 600;
  position: relative;
}

.ric {
	font-size: 33px;
	color: white;
	font-weight: 300;
  top: -120px;
  left: 247px;
  position: relative;
}

.dor {
  font-size: 34px;
  color: white;
  font-weight: 300;
  top: -191px;
  left: 409px;
  font-weight: 600;
  position: relative;
}

.end {
  height: 625px;
  width: 1200px;
  background: white;
}

.meer {
  position: relative;
  font-size: 29px;
  left: 679px;
  top: 124px;
  color: #3D3D3D;
  letter-spacing: 6px;
}

.stroke2 {
	position: relative;
  top: 119px;
  left: 769px;
}

.klik {
  position: relative;
  text-align: center;
  width: 680px;
  top: 140px;
  left: 472px;
  font-size: 22px;
  color: #5C5C5C;
}


button  {
  position: relative;
  border: 1px solid black;
  background: white;
  font-size: 22px;
  padding: 15px 43px;
  top: 202px;
  left: 709px;
}

footer {
  position: relative;
  height: 38px;
  width: 1200px;
  background: black;
  left: 200px;
  top: -39px;
}

.alg {
  position: relative;
  color: #575757;
  top: 10px;
  left: 171px;
  font-size: 13px;
}

.cop {
  position: relative;
  color: #575757;
  top: -18px;
  left: 890px;
  font-size: 13px;
}