.bgcolor {
}
.bgcolor .block1 {
    color:black;
    font-size: 15px;
    margin-top: 50px;
    margin-left: 15px;
}

.h12 {
margin-left: 200px;
color: #515251;
}

.text1 {
	width: 700px;
	padding-top: 20px;
	color: #757575;
	line-height: 1.6em;
	margin-left: 200px;
}

#video {
	background: blue;
	height: 100px;
	width: 150px;
	border-radius: 5px;
	margin-top: 150px;
	margin-left: 215px;

}

#botton1 {
	background: blue;
	height: 38px;
	width: 180px;
	margin-left: 730px;
	margin-top: -103px;
	border-radius: 5px;
}

#botton2 {
	background: blue;
	height: 38px;
	width: 180px;
	margin-left: 730px;
	margin-top: 15px;
	border-radius:5px;
}

.h41 {
	width: 200px;
	margin-left: 400px;
	margin-top: -135px;
	color: #363636;
}

.block1  p   {
	width: 180px;
	height: 150px;
	margin-left: 400px;
	color: #757575;
	font-size: 14px;
}

